<div class="content-wrapper">
    <h3>Order List
    </h3>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <td>
                                            <input type="text" class="form-control" [(ngModel)]="searchText"
                                                placeholder="search by name">
                                        </td>
                                    </tr>
                                </thead>
                            </table>
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Order No</th>
                                        <th>OrderDate</th>
                                        <th>Name</th>
                                        <th>Tax</th>
                                        <th>Total Amount</th>
                                        <th>Status</th>
                                        <th>Pickup</th>
                                        <th>Return</th>
                                        <th>Cancel</th>
                                        <th class="sort-alpha">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr
                                        *ngFor="let c of orderlist| ordersearchfilter : searchText  | paginate: { itemsPerPage: 10, currentPage: p } ; let i=index;">
                                        <td>
                                            {{i+1}}
                                        </td>
                                        <td>
                                            {{c.orderno}}
                                        </td>
                                        <td>
                                            {{c.date_Created | date:'medium' }}
                                        </td>
                                        <td>
                                            <table>
                                                <tr>
                                                    <td>
                                                        {{c.name}}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        {{c.phoneno}}
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td>$ {{c.tax}}</td>
                                        <td>
                                            $ {{c.total}}
                                        </td>

                                        <!-- <td *ngIf="c.status === 'Pending'">                               
                                            <button class="btn btn-square btn-default" type="button" (click)="updateStatus(c.guid_OrderId)">
                                                {{ c.status }}
                                            </button>
                                        </td>
                                        <td *ngIf="c.status === 'Acknowledge'">
                                            <button class="btn btn-square btn-primary" type="button" (click)="updateStatus(c.guid_OrderId)">
                                                {{ c.status }}
                                            </button>
                                        </td>  -->
                                        <td *ngIf="c.status === 'Confirm'">
                                            <button class="btn btn-square btn-info" type="button" (click)="updateStatus(c.guid_OrderId)">
                                                {{ c.status }}
                                            </button>
                                        </td>
                                        <td *ngIf="c.status === 'Processing'">
                                            <button class="btn btn-square btn-pink" type="button" (click)="updateStatus(c.guid_OrderId)">
                                                {{ c.status }}
                                            </button>
                                        </td>
                                        <td *ngIf="c.status === 'Shipped'">
                                            <button class="btn btn-square btn-purple" type="button" (click)="updateStatus(c.guid_OrderId)">
                                                {{ c.status }}
                                            </button>
                                        </td>  
                                        <td *ngIf="c.status === 'Delivered'">
                                            <button class="btn btn-square btn-success" type="button" (click)="updateStatus(c.guid_OrderId)">
                                                {{ c.status }}
                                            </button>
                                        </td>

                                        <td *ngIf="c.status === 'Pickup'">
                                            <button class="btn btn-square btn-primary" type="button" (click)="updateStatus(c.guid_OrderId)">
                                                {{ c.status }}
                                            </button>
                                        </td>
                                        <td *ngIf="c.status === 'Return' ">
                                            <button class="btn btn-square btn-green" type="button" disabled>
                                                {{ c.status }}
                                            </button>
                                        </td>
                                        <td *ngIf="c.status === 'Cancel'">
                                            <button class="btn btn-square btn-danger" type="button" disabled>
                                                {{ c.status }}
                                            </button>
                                        </td>
                                      
                                        <td *ngIf="c.status !== 'Pickup'">
                                            <button class="btn btn-square btn-primary" type="button"
                                                (click)="pickupStatus(c.guid_OrderId)">
                                                Pickup
                                            </button>
                                        </td>
                                        <td *ngIf="c.status === 'Pickup'">
                                            <button class="btn btn-square btn-primary" type="button" disabled>
                                                Pickup
                                            </button>
                                        </td>
                                        <td *ngIf="c.status !== 'Return'">
                                            <button class="btn btn-square btn-green" type="button"
                                                (click)="returnStatus(c.guid_OrderId)">
                                                Return
                                            </button>
                                        </td>
                                        <td *ngIf="c.status === 'Return'">
                                            <button class="btn btn-square btn-success" type="button" disabled>
                                                Return
                                            </button>
                                        </td>
                                        <td *ngIf="c.status !== 'Cancel'">
                                            <button class="btn btn-square btn-danger" type="button"
                                                (click)="cancelStatus(c.guid_OrderId)">
                                                Cancel
                                            </button>
                                        </td>
                                        <td *ngIf="c.status === 'Cancel'">
                                            <button class="btn btn-square btn-danger" type="button" disabled>
                                                Cancel
                                            </button>
                                        </td>

                                        <td>
                                            <em class="icon-eye" style="cursor: pointer; color: red;"
                                                [routerLink]="['/order/orderview']"
                                                [queryParams]="{ guidorderid: c.guid_OrderId }"></em>
                                            <em class="icon-printer" (click)="print(c)"
                                                style="margin-left: 10px; cursor: pointer; color: skyblue;"></em>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td colspan="8" style="text-align: right;">
                                            <pagination-controls (pageChange)="p = $event"
                                                class="float-right"></pagination-controls>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>