
<div class="content-wrapper">
    <div class="content-heading">Add New Product</div>

<div class="row">
    <div class="col-sm-12">
       <!-- START panel-->
       <form role="form"  [formGroup]="pform" (ngSubmit)="addproduct()">
       <div class="panel panel-default">
         
          <div class="panel-body">
            
                <div class="col-sm-12">
                <div class="col-sm-4">
                <div class="form-group">
                   <label>Product Name</label>
                   <input class="form-control" type="text" formControlName="productName" placeholder="New item">
                   <p>
                     <span class="text-danger" *ngIf="!pform.get('productName').value && formSubmitted">
                        item name required.
                     </span>
                   </p>  
                </div>
                  
                </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Category</label>
                    <select class="form-control"  formControlName="guid_CategoryId"  (change)="getsubcategorylist($event)">
                      <option value="">Select Category</option>
                        <option *ngFor="let b of categorylst; let i=index;" value="{{b.guid_CategoryId}}"> {{b.categoryName}} </option>
                    </select>
                  </div> 
            </div>
            <div class="col-sm-4">     
                  <div class="form-group">
                    <label> Sub Category</label>
                    <select class="form-control"  formControlName="guid_SubCategoryId">
                      <option value="">Select Sub Category</option>
                        <option *ngFor="let b of subcategorylist; let i=index;" value="{{b.guid_CategoryId}}"> {{b.categoryName}} </option>
                    </select>
                  </div>    
            </div>
                </div>
                <div class="col-sm-12">
            <div class="col-sm-4"> 
                  <div class="form-group">
                    <label>Brand</label>
                    <select class="form-control"  formControlName="guid_BrandId">
                      <option value="">Select Brand</option>
                        <option *ngFor="let b of brandlist; let i=index;" value="{{b.guidBrandId}}"> {{b.brandName}} </option>
                    </select>
                  </div>    
            </div>

            <div class="col-sm-4"> 
               <div class="form-group">
                 <label>Unit</label>
                 <select class="form-control"  formControlName="guid_UnitId">
                   <option value="">Select Unit</option>
                     <option *ngFor="let b of unitlist; let i=index;" value="{{b.unitguid}}"> {{b.unitname}} </option>
                 </select>
               </div>    
         </div>
          
                 <div class="col-sm-4">
                 <div class="form-group">
                    <label>Available Stock</label>
                    <input class="form-control" type="number"  formControlName="available_Stock" placeholder="Ex.100">
                 </div>
                 </div>
                </div>
                <div class="col-sm-12">
                 <div class="col-sm-4">
                  <div class="form-group">
                     <label>Maximum Purchase Quantity Limit</label>
                     <input class="form-control" type="number"  formControlName="maxPurchaseQty" placeholder="Ex.10">
                  </div>
                  </div>
                 <div class="col-sm-4">
                 <div class="form-group" style="margin-left: 5px;">
                    <label>Product Image</label>
                    <label class="sr-only"  for="input-email">Image</label>
                    <input class="form-control" type="file" (change)="fileProgress($event)" accept="image/*">
                 </div>
                 </div>
                 <div class="col-sm-4">
                  <div class="checkbox c-checkbox" style="margin-top: 35px;">
                    
                     <label>
                        <input type="checkbox" checked="" formControlName="is_Organic">
                        <span class="fa fa-times"></span>Is organic</label>
                  </div>
                   </div>
                </div>
                 
               
               
           
          </div>
       </div>
       <div class="panel panel-default">
         
         <div class="panel-body">
            <div class="col-sm-12">
               <div class="col-sm-4"> 
                  <div class="form-group">
                    <label>Price</label>
                    <input class="form-control" type="number"  formControlName="price" placeholder="Enter price">
                 </div>
            </div>
            <div class="col-sm-4"> 
               <div class="form-group">
                 <label>Discount Type</label>
                 <select class="form-control"  formControlName="discountType">
                   <option value="">Select Discount Type</option>
                     <option  value="Percent"> Percent</option>
                     <option  value="Amount"> Amount</option>
                 </select>
               </div>    
         </div>
            <div class="col-sm-4">
                 <div class="form-group">
                    <label>Discount Price</label>
                    <input class="form-control" type="number"  formControlName="discount" placeholder="Enter discount">
                 </div>
                 </div>
              </div>
         </div>
      </div>
       <div class="panel panel-default">
         
         <div class="panel-body">
            <div class="col-sm-12">
               <div class="col-sm-6">
               <div class="form-group">
                  <label>Short discription</label>
               <angular-editor  [config]="config" formControlName="short_Description"></angular-editor>
               </div>
               </div>
               <div class="col-sm-6">
               <div class="form-group">
                  <label>Full discription</label>
               <angular-editor  [config]="config"  formControlName="full_Description"></angular-editor>
               </div>
               </div>
              </div>
         </div>
      </div>
      <div class="panel panel-default">
         
         <div class="panel-body">
            <div class="col-sm-12">
               <div class="form-group">
                  <label>Tag</label>
                  <input class="form-control" type="text" formControlName="tag" placeholder="Search Tag">
               </div>
           <!-- <button class="btn btn-sm btn-default" type="submit">Submit</button> -->
            </div>
         </div>
      </div>
      <div class="panel panel-default">
         
         <div class="panel-body">
            <div class="col-sm-12">
               <div class="clearfix">
                   <div class="pull-left">
                     
                      <button class="btn btn-primary m-t-10" type="submit">
                         <em class="fa fa-check fa-fw"></em>Save</button>
                   </div>
                   <div class="pull-right">
                      <a routerLink="/product/productlist" class="btn btn-danger m-r-10 m-t-10" type="button">
                         <em class="fa fa-trash fa-fw"></em>Back</a>
                   </div>
                </div>
           <!-- <button class="btn btn-sm btn-default" type="submit">Submit</button> -->
            </div>
         </div>
      </div>
    
      </form>
       <!-- END panel-->
    </div>
   
 </div>
 </div>