<div class="wrapper">
   <header class="topnavbar-wrapper">
      <!-- START Top Navbar-->
      <nav class="navbar topnavbar" role="navigation">
         <!-- START navbar header-->
         <div class="navbar-header">
            <a class="navbar-brand" href="#/">
               <div class="brand-logo">
                  <h4 style="color: white;">Niyamit</h4>
                  <!-- <img class="img-responsive" src="img/logo.png" alt="App Logo"> -->
               </div>
               <div class="brand-logo-collapsed">
                  <h4 style="color: white;">Niyamit</h4>
                  <!-- <img class="img-responsive" src="img/logo-single.png" alt="App Logo"> -->
               </div>
            </a>
         </div>
         <!-- END navbar header-->
         <!-- START Nav wrapper-->
         <div class="nav-wrapper">
            <!-- START Left navbar-->
            <ul class="nav navbar-nav">
               <li class="active">
                  <!-- Button used to collapse the left sidebar. Only visible on tablet and desktops-->
                  <a class="hidden-xs" data-trigger-resize="" data-toggle-state="aside-collapsed">
                     <em class="fa fa-navicon"></em>
                  </a>
                  <!-- Button to show/hide the sidebar on mobile. Visible on mobile only.-->
                  <a class="visible-xs sidebar-toggle" data-toggle-state="aside-toggled" data-no-persist="true">
                     <em class="fa fa-navicon"></em>
                  </a>
               </li>
            </ul>
            <!-- END Right Navbar-->
         </div>
         <!-- END Nav wrapper-->
         <!-- START Search form-->
         <form class="navbar-form" role="search" action="search.html">
            <div class="form-group has-feedback">
               <input class="form-control" type="text" placeholder="Type and hit enter ...">
               <div class="fa fa-times form-control-feedback" data-search-dismiss=""></div>
            </div>
            <button class="hidden btn btn-default" type="submit">Submit</button>
         </form>
         <!-- END Search form-->
      </nav>
      <!-- END Top Navbar-->
   </header>
   <!-- sidebar-->
   <aside class="aside" style="position: fixed;">
      <!-- START Sidebar (left)-->
      <div class="aside-inner">
         <nav class="sidebar">
            <ul class="nav">
               <!-- START user info-->
               <li>
                  <div>
                     <div class="item user-block">
                        <!-- User picture-->
                        <div class="user-block-picture">
                           <div class="user-block-status">
                              <img class="img-thumbnail img-circle" src="assets/img/user/02.jpg" alt="Avatar" width="60"
                                 height="60">
                              <div class="circle circle-success circle-lg"></div>
                           </div>
                        </div>
                        <!-- Name and Job-->
                        <div class="user-block-info">
                           <span class="user-block-name">Hello, {{name}}</span>
                           <!-- <span class="user-block-role">Designer</span> -->
                        </div>
                     </div>
                  </div>
               </li>
               <!-- END user info-->
               <!-- Iterates over all sidebar items-->
               <li class="nav-heading ">
                  <span data-localize="sidebar.heading.HEADER">Main Navigation</span>
               </li>
               <li class=" ">
                  <a routerLink="Dashboard" title="Dashboard" data-toggle="collapse">
                     <!-- <div class="pull-right label label-info">3</div> -->
                     <em class="icon-speedometer"></em>
                     <span data-localize="sidebar.nav.DASHBOARD">Dashboard</span>
                  </a>
               </li>
               <li class=" ">
                  <a href="#master" title="Master" data-toggle="collapse">
                     <em class="icon-chemistry"></em>
                     <span data-localize="sidebar.nav.element.ELEMENTS">MASTER</span>
                  </a>
                  <!-- isUser is Used for Nav Only Visible to User 
                   isAdmin is used for Nav Only Visible to Admin -->
                  <ul class="nav sidebar-subnav collapse" id="master">
                     <li class="sidebar-subnav-header">Master</li>
                     <li class=" " *ngIf="appservice.isUser()">
                        <a routerLink="brand/brandlist" title="Buttons">
                           <span data-localize="sidebar.nav.element.BUTTON">BrandList</span>
                        </a>
                     </li>
                     <li class=" " *ngIf="appservice.isUser()">
                        <a routerLink="unit/unitlist" title="Buttons">
                           <span data-localize="sidebar.nav.element.BUTTON">UnitList</span>
                        </a>
                     </li>
                     <li class=" " *ngIf="appservice.isUser()">
                        <a routerLink="wholeseller/wholesellerlist" title="Buttons">
                           <span data-localize="sidebar.nav.element.BUTTON">Wholeseller List</span>
                        </a>
                     </li>
                     <li class=" " *ngIf="appservice.isUser()">
                        <a routerLink="pickuplocation/pickuplocationlist" title="Buttons">
                           <span data-localize="sidebar.nav.element.BUTTON">PickupLocation List</span>
                        </a>
                     </li>
                     <li class=" " *ngIf="appservice.isUser()">
                        <a routerLink="contactus/contactlist" title="Buttons">
                           <span data-localize="sidebar.nav.element.BUTTON">Contactus List</span>
                        </a>
                     </li>
                  </ul>
               </li>
               <li class=" ">
                  <a href="#vendor" title="Vendor" data-toggle="collapse">
                     <em class="icon-chemistry"></em>
                     <span data-localize="sidebar.nav.element.ELEMENTS">VENDOR</span>
                  </a>
                  <!-- vendor -->
                  <ul class="nav sidebar-subnav collapse" id="vendor">
                     <li class="sidebar-subnav-header">Vendor</li>
                     <li class=" " *ngIf="appservice.isUser()">
                        <a routerLink="vendor" title="Buttons">
                           <span data-localize="sidebar.nav.element.BUTTON">Create Vendor</span>
                        </a>
                     </li>                    
                  </ul>
               </li>
               <li class=" ">
                  <a href="#product" title="Product" data-toggle="collapse">
                     <em class="icon-chemistry"></em>
                     <span data-localize="sidebar.nav.element.ELEMENTS">PRODUCT MANAGEMENT</span>
                  </a>
                  <ul class="nav sidebar-subnav collapse" id="product">
                     <li class="sidebar-subnav-header">Master</li>
                     <li class=" " *ngIf="appservice.isUser()">
                        <a routerLink="category/categorylist" title="Buttons">
                           <span data-localize="sidebar.nav.element.BUTTON">CategoryList</span>
                        </a>
                     </li>
                     <li class=" " *ngIf="appservice.isUser()">
                        <a routerLink="product/productlist" title="Buttons">
                           <span data-localize="sidebar.nav.element.BUTTON">ProductList</span>
                        </a>
                     </li>
                     <li class=" " *ngIf="appservice.isUser()">
                        <a routerLink="product/addnewproduct" title="Buttons">
                           <span data-localize="sidebar.nav.element.BUTTON">Add New</span>
                        </a>
                     </li>
                  </ul>
               </li>
               <li class=" ">
                  <a href="#gallary" title="gallary" data-toggle="collapse">
                     <em class="icon-chemistry"></em>
                     <span data-localize="sidebar.nav.element.ELEMENTS">GALLARY MANAGEMENT</span>
                  </a>
                  <ul class="nav sidebar-subnav collapse" id="gallary">
                     <li class="sidebar-subnav-header">Gallary</li>
                     <li class=" ">
                        <a routerLink="gallary/gallarylist" title="Buttons">
                           <span data-localize="sidebar.nav.element.BUTTON">Gallary List</span>
                        </a>
                     </li>
                     <li class=" ">
                        <a routerLink="gallaryvideo/gallaryvideolist" title="Buttons">
                           <span data-localize="sidebar.nav.element.BUTTON">GallaryVideo Setup</span>
                        </a>
                     </li>
                  </ul>
               </li>
               <li class=" ">
                  <a href="#order" title="Order List" data-toggle="collapse">
                     <em class="icon-chemistry"></em>
                     <span data-localize="sidebar.nav.element.ELEMENTS">ORDER MANAGEMENT</span>
                  </a>
                  <ul class="nav sidebar-subnav collapse" id="order">
                     <li class="sidebar-subnav-header">Orderlist</li>
                     <li class=" ">
                        <a routerLink="order/orderlist" title="Buttons">
                           <span data-localize="sidebar.nav.element.BUTTON">Order List</span>
                        </a>
                     </li>
                  </ul>
               </li>
               <li class=" ">
                  <a href="#config" title="config" data-toggle="collapse">
                     <em class="icon-chemistry"></em>
                     <span data-localize="sidebar.nav.element.ELEMENTS">CONFIGURATION</span>
                  </a>
                  <ul class="nav sidebar-subnav collapse" id="config">
                     <li class="sidebar-subnav-header">Configuration</li>
                     <li class=" ">
                        <a routerLink="emailconfig/emailconfiglist" title="Buttons">
                           <span data-localize="sidebar.nav.element.BUTTON">Email Configuration</span>
                        </a>
                     </li>
                     <li class=" ">
                        <a routerLink="smsconfig/smsconfiglist" title="Buttons">
                           <span data-localize="sidebar.nav.element.BUTTON">SMS Configuration</span>
                        </a>
                     </li>
                  </ul>
               </li>
               <li class=" ">
                  <a (click)="logout()" title="Logout" data-toggle="collapse">
                     <em class="icon-speedometer"></em>
                     <span data-localize="sidebar.nav.DASHBOARD">LogOut</span>
                  </a>
               </li>
            </ul>
         </nav>
      </div>
      <!-- END Sidebar (left)-->
   </aside>
   <section>
      <router-outlet></router-outlet>
   </section>
   <footer>
      <span>&copy; {{currantYear}}- NiyamitAdmin</span>
   </footer>
</div>